html,body {
	font-family: "Segoe UI","Segoe UI Web Regular","Segoe UI Symbol","Microsoft Yahei";
	margin: 0 auto;
	padding:0;
}

#header {
	background: #f1f1f1;
	border-bottom: 1px solid #e5e5e5;
	height: 72px;
	overflow: hidden;
}

#header #logo {
	float: left;
	margin: 12px 0 0 48px;
}

#header #signup-button {
	float: right;
	margin: 22px 48px 0;
}

#content {
	margin:0 auto;
	padding-top: 48px;
	padding-bottom: 48px;
}

#content #introduction.span6 {
	padding-left: 2%;
	padding-right: 2%;
}

#content #signin-container.span6 {
	padding-top: 2%;
	padding-left: 8%;
	padding-right: 8%;
}

#signin-container #signin-box {
	background: #f1f1f1;
	border: 1px solid #e5e5e5;
	padding: 24px;
}

#content #signin-box label#remember {
	display: inline-block;
	vertical-align: top;
	margin: 8px 0 0 24px;
}

#content #signin-box label#remember-label {
	color: #666;
	font-size: 12px;
	font-weight: normal;
	vertical-align: top;
	margin-top: -3px;
}

#content input[type="text"], 
#content input[type="password"] {
	font-size: 15px;
	height: 24px;
	width: 100%;
}

#content #signin-box div {
	margin: 0 0 1.5em;
}

#footer {
	border-top: 1px solid #ebebeb;
	font-size: 92%;
	height: 32px;
	margin-top: 48px;
	overflow: hidden;
	padding-top: 8px;
	width: 100%;
}

#footer #copyright {
	color: #666;
	float: left;
	margin-left: 48px;
}

#footer #help-and-support {
	float: right;
	margin-right: 48px;
}

#footer #help-and-support a {
	color: #333;
	text-decoration: none;
}

span.errormsg {
	margin: .5em 0 0;
	display: block;
	color: #dd4b39;
	line-height: 17px;
}